body{
    background:#1b4d51;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1;
}

header img{
    max-width: 91.5vw ;
    display: block;
    margin-left: auto ;
    margin-right: auto;

}
main h1{
    background-color: #c59c6c;
    font-size: 1.2em;
    padding: 5px;
    margin: 10px 0;
    border: 8px solid #825D39; 
    text-align: center;
    text-decoration:underline;

}
main article{
    background-color: #c59c6c;
    border: 8px solid #825D39; 
    text-align: center;
}
main article p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}

main article a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #5b1f19;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    transition: background-color 0.3s;
}
main article a:hover {
    background-color: #a5382e; 
    transition: 0ms;
}
main article a:active {
    background-color: black; 
    transition: 0ms;
}
main div{
    display: flex;
    background-color: #c59c6c;
    border: 8px solid #825D39; 
    align-items: center;
}
main div article{
    border: 0px;
    text-align: left;
    padding: 5px;
}
main div p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px ;
}
main div img{
    max-width: 30vw;
    max-height: 20vh ;
    border: 2px solid #825D39; 
}
div article img{
    max-width: fit-content;

}
img{
    max-width: 91.5vw;
    border: 8px solid #825D39; 
}

nav{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width:100vw

}
nav ul{
    list-style: none;
    margin: 0;
    padding: 2px;
    background-color: #825D39;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;

}
nav a{
    text-decoration: none;
    color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 10px;
}
nav img{
    width: auto;
    height: 40px;
}
nav a:hover{
    text-decoration: underline;
    transition: 0ms;
}

footer{
    border: 3px solid #825D39;
    height: 100px;
    color: white;
}
footer p{
    text-align: center;
    font-size: small;
}


